.divBodyIndex main h1, .divBodyIndex main h2, .divBodyNotas main h1, .divBodyNotas main h2, .divBodyCalendarios main h1, .divBodyDisciplinas main h1, .divBodyDisciplinas main h2, .divBodyEquipo main h1, .divBodyEquipo main h2, .divBodyEquipo main h3 {
  font-family: "Bebas Neue", cursive;
  color: whitesmoke; }

.divBodyIndex main .novedadesParrafo, .divBodyNotas main .notasParrafo, .divBodyDisciplinas main .disciplinasParrafo, .divBodyEquipo main .equipoParrafo {
  font-family: "Montserrat", sans-serif;
  color: black; }

.divBodyIndex main, .divBodyNotas main, .divBodyDisciplinas main, .divBodyEquipo main {
  margin: 0.5rem;
  padding: 1rem; }

header {
  background-color: #e0040b;
  border-bottom: solid 0.7rem whitesmoke; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      font-family: "Shadows Into Light", cursive;
      font-size: 1.5rem; }
      header nav ul li:hover {
        transform: scale(1.2);
        text-decoration: underline; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: whitesmoke; }

.divBodyIndex {
  width: 100vw;
  background-color: grey;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "titulos" "novedades" "side" "footer";
  gap: 1rem; }
  @media screen and (min-width: 1200px) {
    .divBodyIndex {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 80% 20%;
      grid-template-areas: "titulos titulos" "novedades side" "footer footer"; } }
  .divBodyIndex main .titulos {
    grid-area: titulos; }
  .divBodyIndex main .novedades {
    grid-area: novedades;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem; }
  .divBodyIndex main .novedadesFoto {
    max-width: 70%; }
  .divBodyIndex main .side {
    grid-area: side;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    .divBodyIndex main .side .calendario, .divBodyIndex main .side .sorteo {
      object-fit: contain;
      height: 10rem;
      /*tranformaciones side*/ }
      .divBodyIndex main .side .calendario:hover, .divBodyIndex main .side .sorteo:hover {
        transform: scale(1.5);
        transition: 1s; }

.divBodyNotas {
  width: 100vw;
  background-color: grey;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "titulos" "notas" "footer";
  gap: 1rem; }
  .divBodyNotas main .titulos {
    grid-area: titulos; }
  .divBodyNotas main .notas {
    grid-area: notas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    @media (min-width: 1200px) {
      .divBodyNotas main .notas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; } }
  @media (min-width: 1200px) {
    .divBodyNotas main .notasParrafo {
      max-width: 50%; } }

.divBodyCalendarios {
  background-color: grey; }
  .divBodyCalendarios main .fecha {
    font-family: "Bebas Neue", cursive;
    background-color: whitesmoke;
    border-radius: 1rem;
    font-size: 80%; }
  .divBodyCalendarios main .card:hover {
    transform: scale(1.5);
    transition: 1s; }

.divBodyDisciplinas {
  width: 100vw;
  background-color: grey;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "titulos" "disciplinas" "footer";
  gap: 1rem; }
  .divBodyDisciplinas main .titulos {
    grid-area: titulos; }
  .divBodyDisciplinas main .disciplinas {
    grid-area: disciplinas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    @media (min-width: 1200px) {
      .divBodyDisciplinas main .disciplinas {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap; } }
  .divBodyDisciplinas main .disciplinasFoto {
    max-width: 70%; }

.divBodyEquipo {
  width: 100vw;
  background-color: grey;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "titulos" "estacionIntro" "equipo" "miembros" "footer";
  gap: 1rem; }
  .divBodyEquipo main .titulos {
    grid-area: titulos; }
  .divBodyEquipo main .estacionIntro {
    grid-area: estacionIntro; }
  .divBodyEquipo main .equipo {
    grid-area: equipo; }
  .divBodyEquipo main .miembros {
    grid-area: miembros;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem; }
    @media (min-width: 1200px) {
      .divBodyEquipo main .miembros {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; } }
  .divBodyEquipo main .equipoMiembros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .divBodyEquipo main .equipoFoto {
    max-width: 50%; }

footer {
  border-top: solid 0.7rem whitesmoke;
  background-color: #e0040b;
  padding: 1rem;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-wrap: nowrap; }
  footer .footerLogo {
    height: 4rem; }
  footer .redes {
    height: 2rem;
    margin: 0.3rem; }
    footer .redes:hover {
      transform: scale(1.5);
      transition: 1s; }
