header {
  background-color: #e0040b;
  border-bottom: solid 0.7rem whitesmoke; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      font-family: "Shadows Into Light", cursive;
      font-size: 1.5rem; }
      header nav ul li:hover {
        transform: scale(1.2);
        text-decoration: underline; }

a {
  text-decoration: none;
  color: whitesmoke; }

.divBodyIndex .calendarioIndex, .divBodyIndex .sorteo {
  object-fit: contain;
  height: 15rem;
  /*tranformaciones side*/ }
  .divBodyIndex .calendarioIndex:hover, .divBodyIndex .sorteo:hover {
    transform: scale(1.5);
    transition: 1s; }
  .divBodyIndex .calendarioIndex .calendarioIndexSm, .divBodyIndex .calendarioIndex .sorteoSm, .divBodyIndex .sorteo .calendarioIndexSm, .divBodyIndex .sorteo .sorteoSm {
    height: 7rem; }

.divBodyNotas, .divBodyCalendarios, .divBodyDisciplinas, .divBodyEquipo {
  background-color: grey; }
