@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extends";
@import "utilities/mapas";
@import "layout/nav";
@import "layout/grid";

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $colorSecundario;
}

.divBodyIndex{
    width: 100vw;
    background-color: $colorFondo;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
                        "titulos"
                        "novedades"
                        "side"
                        "footer";
    gap: 1rem;
        main{
            @extend %espacio;
            .titulos{
                grid-area: titulos;
            }
            .novedades{
                grid-area: novedades;
                @include flex(column, center, center, nowrap);
                margin: 1rem;
            }
            h1, h2{
                @extend %titulos;
            }
            .novedadesParrafo{
                @extend %parrafos;
            }
            .novedadesFoto{
                max-width: 70%;
            }
            .side{
                grid-area: side;
                gap: 2rem;
                @include flex(column, center, center, nowrap);
                .calendario, .sorteo{
                    object-fit: contain;
                    height: 10rem;
                    /*tranformaciones side*/
                    &:hover{
                        @include animacion
                    }
                }
            }
        }
}


.divBodyNotas{
    width: 100vw;
    background-color: $colorFondo;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
                        "titulos"
                        "notas"
                        "footer";
    gap: 1rem;
    main{
        @extend %espacio;
        .titulos{
            grid-area: titulos;
        }
        .notas{
            grid-area: notas;
            @include flex(column, center, center, nowrap);
        }

        h1, h2{
            @extend %titulos;
        }
        .notasParrafo{
            @extend %parrafos;
        }
    }
}


.divBodyCalendarios{
    background-color: $colorFondo;
    main{
        h1{
            @extend %titulos;
        }
        .fecha{
            font-family: map-get($map: $titulos, $key: titulo-font);
            background-color: map-get($map: $titulos, $key: titulo-color );
            border-radius: 1rem;
            font-size: 80%;
        }
        .card{
            &:hover{
                @include animacion;
            }
        }
    }
}

.divBodyDisciplinas{
    width: 100vw;
    background-color: $colorFondo;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
                        "titulos"
                        "disciplinas"
                        "footer";
    gap: 1rem;
    main{
        @extend %espacio;
        .titulos{
            grid-area: titulos;
        }
        .disciplinas{
            grid-area: disciplinas;
            @include flex(column, center, center, nowrap);
        }
        h1, h2{
            @extend %titulos;
        }
        .disciplinasParrafo{
            @extend %parrafos;
        }
        .disciplinasFoto{
            max-width: 70%;
        }
    }
}

.divBodyEquipo{
    width: 100vw;
    background-color: $colorFondo;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
                        "titulos"
                        "estacionIntro"
                        "equipo"
                        "miembros"
                        "footer";
    gap: 1rem;
    main{
        @extend %espacio;
        .titulos{
            grid-area: titulos;
        }
        .estacionIntro{
            grid-area: estacionIntro;
        }
        .equipo{
            grid-area: equipo;
        }
        .miembros{
            grid-area: miembros;
            @include flex(column, center, center, nowrap);
            gap: 2rem;
        }
        .equipoMiembros{
            @include flex(column, center, center, nowrap)
        }
        .equipoFoto{
            max-width: 50%;
        }
        h1, h2, h3{
            @extend %titulos;
        }
        .equipoParrafo{
            @extend %parrafos;
        }
    }
}

footer{
    border-top: solid 0.7rem $colorSecundario;
    background-color: $colorPrincipal;
    padding: 1rem;
    grid-area: footer;
    @include flex(row, space-between, end, nowrap);
    .footerLogo{
        height: 4rem;
    }
    .redes{
        height: 2rem;
        margin: 0.3rem;
        &:hover{
            @include animacion;
        }
    }
}